<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'DarkSlateBlue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="HTML"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'darkslateblue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="CSS"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="50"
            [radius]="80"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'darkslateblue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="JavaScript"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'DarkSlateBlue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="Python"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="65"
            [radius]="80"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'darkslateblue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="Git"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'darkslateblue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="Inglés"
        ></circle-progress>
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'DeepSkyBlue'"
            [outerStrokeGradientStopColor]="'darkslateblue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
            [responsive]="true"
            title="Trabajo en equipo"
        ></circle-progress>
    </div>
</div>
