.row{
<<<<<<< Updated upstream
    padding: 20px;
=======
    padding: 50px 20px;
    background: linear-gradient(45deg,#39e1fe 25%,#5146d1 50%,#3e14c0 70%,#06001a 94%)
>>>>>>> Stashed changes
}
div{
    background: rgb(255 255 255 / 15%);
}
h2, h3{
    display: inline;
}