.row{
    background-color: rgba(100, 148, 237, 0.801);
}
footer{
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 12px 0px #ffffff7a;
}
p{
    margin-top: 10px;
}