.row{
    background-color: rgb(6 0 26);
}
footer{
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: inset 0px -20px 20px 20px #000000, 2px -2px 12px 0px #06001a;
}
p{
    margin-top: 10px;
}