<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/APLogo.png" id="logoAP" title="Argentina Programa"></a>
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin" title="LinkedIn"></a>
            <a href="mailto:sofiagzgh@gmail.com" target="_blank"><img src="../../../assets/gmail.png" id="gmail" title="GMail"></a>
            <a href="https://www.instagram.com/sofiagzgh/" target="_blank"><img src="../../../assets/instagram.png" id="instagram" title="Instagram"></a>
            <a href=""><img src="../../../assets/facebook.png" id="facebook" title="Facebook"></a>
            <a href="https://github.com/sofiagzgh" target="_blank"><img src="../../../assets/github.png" id="github" title="GitHub"></a>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">INGRESO</button>
        </div>
    </div>
</div>

