.row{
    padding: 50px 20px;
    background: linear-gradient(45deg,#39e1fe 25%,#5146d1 50%,#3e14c0 70%,#06001a 94%);
    border: #06001a;
}

.contenedor{
    width: auto;
    background: rgba(100, 148, 237, 0.801);
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 17px 0px #000000b5;
    margin: 20px 0;
}